table.style1 {
    border-width:1px; 
 	border-style:solid; 
	border-color:black;
    border-collapse:collapse;
}
table.style1 tr {
    border-width:1px; 
 	border-style:solid; 
	border-color:black;
    border-collapse:collapse;
}
table.style1 td {
    border-width:1px; 
 	border-style:solid; 
	border-color:black;
    border-collapse:collapse;
}

table.style2 {
	border-style:none;
}
